nav {
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0; /* Para que esté en la parte superior */
    left: 0;
    right: 0;
    z-index: 1000; /* Para que siempre esté sobre otros elementos */
  }
  