<div class="politica-container">
    <h2>Política de Privacidad</h2>
    <p>
      Nos comprometemos a proteger la privacidad de nuestros usuarios. Esta política describe cómo recopilamos, usamos y compartimos tu información personal.
    </p>
    <h3>1. Información Recopilada</h3>
    <p>
      Recopilamos información de contacto, detalles de viaje y otros datos necesarios para procesar tus compras.
    </p>
    <h3>2.  Aviso de Tratamiento de Datos Personales</h3>
    <p>Al ingresar sus datos en nuestro sitio web, usted autoriza de manera expresa a Airfast Colombia para que recolecte, almacene y utilice sus datos personales con el fin de gestionar sus reservas, compras de tiquetes, información de vuelos, atención al cliente, y cualquier otro servicio relacionado con nuestras operaciones. Sus datos serán tratados de acuerdo con la legislación vigente en materia de protección de datos personales y no serán compartidos con terceros sin su previo consentimiento, salvo por obligaciones legales o contractuales.
            
            Al continuar con el proceso de registro y/o compra en nuestra página, usted acepta los términos de esta política de tratamiento de datos.
            
            Si desea conocer más sobre nuestras políticas de privacidad o ejercer sus derechos como titular de los datos, puede contactarnos a través de chat en línea o visitar nuestra sección de Políticas de Privacidad.
    </p>
    <!-- Agrega más secciones según sea necesario -->
  </div>
  
  