# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/front/CopilotIndices/0.2.1657.32929/CodeChunks.db
.vs/front/CopilotIndices/0.2.1657.32929/CodeChunks.db-shm
.vs/front/CopilotIndices/0.2.1657.32929/CodeChunks.db-wal
.vs/front/CopilotIndices/0.2.1657.32929/SemanticSymbols.db
.vs/front/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-shm
.vs/front/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-wal
.vs/front/FileContentIndex/996964b3-45ad-41ae-af68-1b5af4d2b2a9.vsidx
.vs/front/v17/.wsuo
.vs/front/v17/DocumentLayout.backup.json
.vs/front/v17/DocumentLayout.json
