<div class="condiciones-container">
    <h2>Condiciones de Servicio</h2>
    <p>
        Bienvenido a nuestro sistema de compra y reserva de tiquetes aéreos en línea. Al utilizar nuestro sitio web y nuestros servicios, aceptas cumplir con las siguientes condiciones de servicio.
    </p>
    <h3>1. Introducción</h3>
    <p>
        Usuario: Se refiere a cualquier persona que utilice los servicios de compra y reserva en el sitio web.<br>
        Cliente: Se refiere a los usuarios registrados que compran o reservan tiquetes.<br>
        Administrador: Usuario con privilegios de gestionar vuelos y usuarios.
    </p>
    <h3>2. Cancelaciones y Reembolsos</h3>
    <p>
        Los usuarios registrados pueden buscar, reservar y comprar tiquetes para vuelos nacionales e internacionales.
    El sistema permite la compra o reserva de un máximo de 5 tiquetes por vuelo.
    Las reservas se mantendrán activas por un máximo de 24 horas, tras lo cual serán liberadas.
    </p>
    <h3>3. Cancelación de Compras y Reservas</h3>
    <p>
    Las compras se pueden cancelar hasta 1 hora antes del vuelo, reintegrando el dinero al cliente.
    Las reservas se pueden cancelar hasta 24 horas antes de que se libere la reserva.
    </p>
    <h3>4. Restricciones</h3>
    <p>No se permitirá que menores de edad sean viajeros únicos<br>
        No se permiten usuarios duplicados en un mismo vuelo.
    </p>
    <h3>5. Modificaciones del Servicio</h3>
    <p>
        Nos reservamos el derecho de modificar o interrumpir cualquier parte de los servicios sin previo aviso. Los términos y condiciones pueden ser actualizados en cualquier momento.
  </div>


