.condiciones-container {
    margin-top: 140px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  
    h2 {
      color: #0072ff;
    }
  
    h3 {
      color: #0056b3;
    }
  
    p {
      line-height: 1.6;
    }
  }
  