.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    z-index: 999; /* Se asegura de estar por encima de otros elementos */
  }
  
  .modal-content {
    background-color: #fff;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  
    h2 {
      font-size: 24px;
      font-weight: bold;
    }
  
    .close-btn {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
  }
  
  .form-group {
    margin-bottom: 15px;
  
    label {
      font-size: 14px;
      display: block;
      margin-bottom: 8px;
    }
  
    .input-container {
      position: relative;
  
      input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 14px;
      }
  
      .icon-eye {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
  
  .forgot-link {
    display: block;
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  
    span {
      font-weight: bold;
    }
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .btn-confirm {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #333;
    }
  
    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  }
  